body {

	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	-webkit-background-size: cover;

	font-family: 'Teko', sans-serif;
}

h1 {
	color: white;
	font-size: 200px;
	font-weight: bolder;
	text-align: center;
	margin-top: 0px; 
	text-shadow: 10px 10px #004E98;
}

h2 {
	color: #273469;
	font-size: 150px;
	font-weight: bold;
	text-align: center;
	margin-top: -200px; 
	text-shadow: 5px 5px white;
}

.bio {
	color: white;
	font-size: 50px;
	font-weight: bold;
	margin-top: -150px;
	text-align: center;
	text-shadow: 3px 3px #273469;
	font-family: 'Quicksand', sans-serif;
}

.me {
	height: 500px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
/*	margin-top: 10px;
	margin-bottom: 10px;*/
}

#container {
	
	margin: 0 auto;
	text-align: center;
	border
}

#description {
	align-content: center;
	width: auto;
	height: auto;
	background-color: white;
	background: rgba(0,0,0,0.5);	
}

/*#para {
	
}*/